// @import '../../node_modules/bootstrap/dist/css/bootstrap.css'
@import '../../node_modules/react-bootstrap-datetimepicker/css/bootstrap-datetimepicker.css'

body
  margin-top 52px

#nav-wrapper.affix
  top 0
  width 100%
  z-index 1
  
body .navbar
  margin-bottom 0
  
body .navbar-inverse .navbar-brand
  color #EDF4F8
  cursor pointer

p,
div
	font-size medium

a,
a:link
	cursor pointer

.home-title h2
	margin-top 30px
	margin-bottom 50px

.introHeader {
	margin-top: -10px
	height: 150px
  padding: 15px
}

.introHeader:before
  content ' '
  background-image url('../../images/ocean.jpg')
  display block
  position absolute
  left 0
  top 0
  width 100%
  height 150px
  z-index: -1
  opacity: 1
  

.introText,
.introText div
	font-size 28px
	font-weight 600
	line-height 30px
	color #EDF4F8
	text-shadow 2px 2px 4px black
	
.introTextRight
	text-align right
	
.introTitle
	margin-top 20px
	font-size 42px
	font-weight 800
	line-height 46px

body .navbar
	border-radius 0
	a
		color #EDF4F8 !important

.navbar-inverse
	background-image url('../../images/oceanDark.jpg')

.year > .panel-heading,
.category > .panel-heading,
.commentaries .panel-heading,
.sources .panel-heading,
.actors .panel-heading
  background-image url('../../images/oceanDark.jpg')
  
.year.not-active > .panel-heading,
.category.not-active > .panel-heading
  border-radius 3px
  
.panel-group .year > .panel-heading,
  background-color transparent

.year > .panel-heading a,
.category > .panel-heading a,
.commentaries .panel-heading a,
.sources .panel-heading a,
.actors .panel-heading a
  color #EDF4F8
  font-weight bold
	
.source-title
	margin-top 40px

.source-title-text
	font-weight bold
	text-decoration underline
	
.col400,
.col500
	column-count 1
	column-gap 20px

.commentaries a.list-group-item
  padding-right 50px
	
.commentary
	p,
	.row,
	table
		margin-bottom 20px
	h2
		text-align center
		font-size large
		font-weight 800
		margin-top 40px
		margin-bottom 20px

.actors,
.actors
	h1
		margin-top 40px
		font-size x-large
		font-weight 700
	h2
		font-size large
		font-weight 700
		margin-top 40px
		margin-bottom 20px

.publication
  h2
    font-size medium
    font-weight 700
    margin-top 30px
    margin-bottom 10px 

.tab-content .actors
	margin-top 20px

#monthlyEvents .panel-body,
#publications .category > .panel-collapse > .panel-body
  padding 0 0
#publications .panel-body .publication .mce-tinymce
  margin -15px
#monthlyEvents .panel-group,
#publications .panel-group
  margin-bottom 0
#monthlyEvents .panel.month,
#publications .panel.month
  margin-top 0
  border-radius 0
  border-top-width 0
  border-right-width 0
  border-left-width 0
#monthlyEvents .panel.month > .panel-heading,
#publications .panel.month .panel-heading
  background-color transparent
#monthlyEvents .panel.month .panel-heading:hover,
#publications .panel.month .panel-heading:hover
  background-color #f5f5f5
#monthlyEvents .panel-heading,
#publications .panel-heading
  cursor pointer
#monthlyEvents .panel.month > .panel-heading h4,
#publications .panel.month > .panel-heading h4
  font-weight bold
  z-index 0
#monthlyEvents .panel.month:last-of-type,
#publications .panel.month:last-of-type
  border-bottom-width 0

#monthlyEvents .panel.month .panel-body table
  margin-left 0 !important
  width 100% !important

// TODO: import tinymce.css instead
// add other css for editor before
.monthlyEvent table.new
  width 100%
  border-collapse collapse
  border 1px solid black
.monthlyEvent .new thead
  background-color rgb(250, 191, 143)
.monthlyEvent .new tr,
.monthlyEvent .new th,
.monthlyEvent .new td
  border 1px solid black
  padding 5px
  padding-top 15px
  padding-bottom 15px
.monthlyEvent .new h1,
.monthlyEvent .new h2,
.monthlyEvent .new p
  text-align: center

.monthlyEvent .new h1
  font-size 1em
  font-weight bold
  display block
  margin-left auto
  margin-right auto
  margin-bottom 20px
.monthlyEvent .new h1+h1
  margin-top -15px
.monthlyEvent .new h2
  font-size 0.8em
  font-weight bold
  text-decoration underline
  margin-top 10px
.monthlyEvent .new p
  font-size 0.8em
  font-weight normal
  margin-top 10px
  margin-bottom 10px
.monthlyEvent .new p.bold
  font-weight bold

.events th.year,
.events td.year
  width 52px
.events th.month,
.events td.month
  width 100px
.events th.day,
.events td.day
  width 46px
  text-align right
 
// validate div after react bootstrap component
.validateDivAfterRBC
  color: #a94442
  margin-top: -15px
  margin-bottom: 5px
  
.dropzone > div
  width: 220px !important
  margin-left: 5px
  height: 147px !important
  padding: 5px

table >
	thead >
		tr > th
			border-bottom 0 solid #dddddd !important
			line-height .3
		tr.totals >
			td
				border-top 0
				border-bottom 2px solid #dddddd !important
				line-height .6
				color #9C9C9C

// style the tinymce code editor
.mce-container.mce-panel.mce-floatpanel.mce-window.mce-in
  left: 2vw !important
  top: 2vh !important
  height: 95vh !important

.mce-container.mce-panel.mce-floatpanel.mce-window.mce-in .mce-container-body
  height: calc(95vh - 89px) !important

.mce-container.mce-panel.mce-floatpanel.mce-window.mce-in,
.mce-container.mce-panel.mce-floatpanel.mce-window.mce-in .mce-container-body,
.mce-container.mce-panel.mce-floatpanel.mce-window.mce-in .mce-foot
  width: 96vw !important
  
/*--------------------------------*\
    3. #FORMS
       #errors
\*--------------------------------*/

#errors
  position: absolute
  bottom: 8px
  right: 8px
  margin-left: 8px
  background-color: orange
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2)
  border: 1px solid #CCC
  border-radius: 3px
  padding-top: 10px
  padding-bottom: 10px
  z-index: 3

#errors .errorContainer
  border: none

#errors .errorContainer:first-of-type .error
  padding-right: 27px

#errors .error
  padding-left: 10px
  padding-right: 10px

#errors .error p
  margin-bottom: 0
#errors .error p+p
  margin-bottom: -2px

#errors hr
  margin-top: 8px
  margin-bottom: 8px
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2)
  border: 1px solid #CCC


@media (min-width 786px) {
	.col400 {
		column-count 2
	}
}

@media (min-width 992px) {
	.home-title h2 {
		margin-top 70px
		margin-bottom 70px
	}
	.col400 {
		column-count 3
	}
	.col500 {
		column-count 2
	}
}
