// @import '../../node_modules/bootstrap/dist/css/bootstrap.css'

body
  margin-top 52px

#nav-wrapper.affix
  top 0
  width 100%
  z-index 1
  
body .navbar
  margin-bottom 0
  
body .navbar-inverse .navbar-brand
  color #D5D5D5
  cursor pointer

p,
div
	font-size medium

a,
a:link
	cursor pointer

.home-title h2
	margin-top 30px
	margin-bottom 50px

.introHeader {
	margin-top: -10px
	height: 150px
  padding: 15px
}

.introHeader:before
  content ' '
  background-image url('../../images/ocean.jpg')
  display block
  position absolute
  left 0
  top 0
  width 100%
  height 150px
  z-index: -1
  opacity: 1
  

.introText,
.introText div
	font-size 28px
	font-weight 600
	line-height 30px
	color #EDF4F8
	text-shadow 2px 2px 4px black
	
.introTextRight
	text-align right
	
.introTitle
	margin-top 20px
	font-size 42px
	font-weight 800
	line-height 46px

body .navbar
	border-radius 0
	a
		color #D5D5D5 !important
	[role="menuitem"]
		color #9d9d9d !important
	.dropdown-menu >
		.active >
			a
				background-color #3E474F

.navbar-inverse
	background-image url('../../images/oceanDark.jpg')

.year.panel
  background-image url('../../images/oceanDark.jpg')
  
.panel-group .year > .panel-heading
  background-color transparent

.year > .panel-heading a
  color #d5d5d5
  font-weight bold
	
.source-title
	margin-top 40px

.source-title-text
	font-weight bold
	text-decoration underline
	
.col400,
.col500
	column-count 1
	column-gap 20px
	
.commentary
	p,
	.row,
	table
		margin-bottom 20px
	h2
		text-align center
		font-size large
		font-weight 800
		margin-top 40px
		margin-bottom 20px

.actors
	h1
		margin-top 40px
		font-size x-large
		font-weight 700
	h2
		font-size large
		font-weight 700
		margin-top 40px
		margin-bottom 20px

.tab-content .actors
	margin-top 20px

#events .panel-body
  padding 0 0
#events .panel-group
  margin-bottom 0
#events .panel.month
  margin-top 0
  border-radius 0
  border-top-width 0
  border-right-width 0
  border-left-width 0
#events .panel.month:last-of-type
  border-bottom-width 0
#events .panel.month > .panel-heading
  background-color transparent
#events .panel.month .panel-body table
  margin-left 0 !important
  width 100% !important
 
// validate div after react bootstrap component
.validateDivAfterRBC
  color: #a94442
  margin-top: -15px
  margin-bottom: 5px

table >
	thead >
		tr > th
			border-bottom 0 solid #dddddd !important
			line-height .3
		tr.totals >
			td
				border-top 0
				border-bottom 2px solid #dddddd !important
				line-height .6
				color #9C9C9C

// style the tinymce code editor
.mce-container.mce-panel.mce-floatpanel.mce-window.mce-in
  left: 2vw !important
  top: 2vh !important
  height: 95vh !important

.mce-container.mce-panel.mce-floatpanel.mce-window.mce-in .mce-container-body
  height: calc(95vh - 89px) !important

.mce-container.mce-panel.mce-floatpanel.mce-window.mce-in,
.mce-container.mce-panel.mce-floatpanel.mce-window.mce-in .mce-container-body,
.mce-container.mce-panel.mce-floatpanel.mce-window.mce-in .mce-foot
  width: 96vw !important

@media (min-width 786px) {
	.col400 {
		column-count 2
	}
}

@media (min-width 992px) {
	.home-title h2 {
		margin-top 70px
		margin-bottom 70px
	}
	.col400 {
		column-count 3
	}
	.col500 {
		column-count 2
	}
}
